<div class = "login">
	<p>PLEASE LOG IN </p>
      <form action = "signin">
          <input type= "text" placeholder = "username" name = "username"></br>
          <input type = "password" placeholder = "password" name = "pass"> <br>
          <%= link_to '<button type = "button"> LOGIN </button>'.html_safe, users_index_path%>
       </form>
    
  </div>